@import 'scss/variables';
@import 'scss/typography';
@import 'scss/buttons';
@import 'scss/filters';
@import 'scss/map';
@import 'scss/hospitals';
@import 'scss/_homepage';

.ab-header {
  height: $h--lg;
  display: flex;
  align-items: center;
  @include u-box-shadow-sm;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  background-color: white;

  &--inner {
    display: flex;
    justify-content: space-between;
  }
}

.ab {
  padding-top: $h--lg;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;

  &:hover,
  &:focus {
    outline: none!important;
  }
}

.ab-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.ab-form__steps {
  max-width: 600px;
  margin: 0 auto;
}

.ab-form {
  max-width: 600px;
  margin: 0 auto;

  &__label {
    font-weight: 500;
    margin-bottom: $h--xs;
    display: block;
    font-size: 0.85em;
  }

  &__field {

    &.field--validate {

      margin: 15px 0px;

      .wrapper {
        display: flex;
        width: 100%;

        button {
          margin-left: 15px;
        }
      }
    }

    &.field--units {
      padding: 15px 0px;
      border-bottom: 1px solid $ab--lightgrey;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .field-wrapper {
        display: flex;
        align-items: center;
      }

      .units {
        margin-left: 15px;
      }

      .ab-form__label {
        margin-right: 15px;
        margin-bottom: 0px;
        font-weight: 600;
      }

      input {
        width: 100px;
        margin: 0px;
      }
    }
  }

  &__field__output {
    background-color: $ab--lightgrey;
    padding: 15px;

  }
}

input, textarea {
  background-color: $ab--lightgrey;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  width: 100%;
  padding: 0px 15px;
  border-radius: 6px;
  font-size: 100%;
}

input {
  height: $h--md;
}

textarea {
  min-height: $h--xl;
}

.ab-add-map--container {
  height: 300px;

  .ab-add-map {
    height: 100%;
  }
}

ol.progtrckr {
  list-style: none;
  display: flex;
  margin: $h--md 0px;

  em {
    display: none;
  }

  li {
    flex-basis: 0;
    flex-grow: 1;
    color: $ab--darkgrey;
    border-bottom: 3px solid $ab--lightgrey;
    padding: 15px 15px;

    &.progtrckr-doing {
      border-bottom: 3px solid $ab--accent;
    }
  }
}

.ab {
  min-height: 100vh;
}

.ab-add-hospital {
  padding: 90px 0px;
}

.has--sidenav {
  padding-left: 330px;
  background-color: $ab--lightestgrey;
}

.ab-sidenav {
  width: 330px;
  position: fixed;
  top: 90px;
  min-height: calc(100vh - 90px);
  left: 0;
  background-color: white;
}

.ab-hospitals__list {
  background-color: $ab--lightestgrey;
  min-height: calc(100vh - 90px);
  padding: 30px;
}




.ab-products {
  display: flex;
}


.ab-h6 {
  color: $ab--grey;
  font-weight: 500;
}



.ab-tablist {
  padding: 30px;
}

.react-tabs__tab-list {
  display: flex;
  justify-content: flex-end;
}

.react-tabs__tab {
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: $ab--grey;

  p {
    font-weight: 600;
    margin-left: 5px;
  }

  &:hover {
    cursor: pointer;
  }

  svg {
    fill: $ab--grey;
  }

  &.react-tabs__tab--selected {
    color: $ab--accent;
    p {
      color: $ab--accent;
    }
    svg {
      fill: $ab--accent;
    }
  }
}

.ab-header {
  &--inner {
    width: 100%;
    padding: 0px 15px;
  }
}

.ab-header__nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  height: 100%;

  ul {
    height: 100%;
    display: flex;
    /*align-items: center;*/

    li {
      display: flex;
      align-items: center;
      padding: 0px 15px;
      flex-direction: column;
      justify-content: center;

      a {
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        display: flex!important;
        align-items: center;
        color: $ab--darkgrey;
      }

      svg {

      }
    }
  }

  &__item {
    border-bottom: 5px solid transparent;
    svg {
      position: absolute;
      top: 20px;
    }
    small {
      height: 20px;
      margin-top: 25px;
    }
    &.item--truck {
      svg {
        top: 10px;
      }
    }

    &.is--current {
      border-bottom: 5px solid $ab--accent;
    }
  }
}

.ab-header__brand {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: $ab--accent;
  font-weight: 600;

  a {
    display: flex!important;
    align-items: center;
    color: $ab--accent;
  }

  svg {
    stroke: $ab--accent;
    margin-right: 15px;
  }
}

.ab-heading--1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  max-width: 840px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.ab-p {
    color: $ab--grey;
    font-size: 21px;
    line-height: 1.35em;
    text-align: center;
    max-width: 840px;
    margin: 0 auto;
    opacity: 0.75;
  }


.ab-home__widgets {
  display: flex;
  margin: 0px -15px;

  .ab-home__widget {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0px 15px;
    height: 300px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    @include u-box-shadow-sm;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      position: relative;
      z-index: 20;
      height: 100%;
      width: 100%;
      padding: 30px 15px;
      color: white;

      .ab-heading {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 15px;
      }

      p {
        color: white;
        line-height: 1.2em;
      }
    }

    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .img, .gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .img {
        background-size: cover;
        background-position: center center;
        background-color: grey;
        background-blend-mode: multiply;
      }

      .gradient {
        background: rgb(61,68,233);
        background: linear-gradient(0deg, rgba(61,68,233,0.5508578431372548) 0%, rgba(61,68,233,1) 100%);
      }
    }

    &.widget--campaigns {
      .ab-home__widget__background {
        .img {
          background-image: url('https://zeroattentionspan.net/zas/help.jpg');
        }
      }
    }

    &.widget--hospitals {
      .ab-home__widget__background {
        .img {
          background-image: url('https://zeroattentionspan.net/zas/doctor.jpg');
        }
      }
    }

    &.widget--suppliers {
      .ab-home__widget__background {
        .img {
          background-image: url('https://zeroattentionspan.net/zas/products.jpg');
        }
      }
    }
  }
}

.ab-home {

  &__ffs,
  &__about {
    padding: 120px 0px;

    @media (max-width: 1199px) {
      display: none;
    }
  }

  &__intro {
    margin-bottom: 90px;
  }
}

.ab-home__about {
  padding: 90px 0px;
  background-color: $ab--lightestgrey;

  img {
    width: 100%;
    mix-blend-mode: multiply;
    margin-top: 60px;
  }
}

.desktop-only {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background-color: $ab--accent;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 120;

  @media (min-width: 1200px) {
    display: none;
  }
}

.sorts {
  display: none;
}

.ab-form__group {
  margin-bottom: 30px;
  position: relative;

  .ab-form__label {
    margin-bottom: 10px;
  }

  .error-message {
    opacity: 0;
    position: absolute;
    color: white;
    background-color: #B00020;
    font-size: 0.8em;
    border-radius: 3px;
    left: 50%;
    bottom: -30px;
    height: 25px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    transform: translate3d(-50%, 0, 0);
    line-height: 1em;
  }

  &.is--not-validated {
    .error-message {
      opacity: 1;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #B00020;
        top: -5px;
        left: 50%;
        margin-left: -3px;
      }
    }
  }
}

.ab-icon {

  &--sm {
    width: $h--sm;
    height: $h--sm;
  }

  svg {
    width: 100%;
    max-height: 100%;
  }
}

.ab-hospital__products {
  display: flex;
}

.ab-hospital__product {
  height: $h--md;
  padding: 0px 10px;
  background-color: $ab--lightgrey;
  display: inline-flex;
  border-radius: 6px;
  margin: 5px;

  .ab-icon {
    max-width: 30px;
  }

  &__amount {
    border-left: 1px solid white;
    font-weight: 500;
    margin-left: 10px;
  }

  &__name,
  &__amount {
    display: block;
    padding: 5px 5px 5px 15px;
    display: flex;
    align-items: center;
  }
}








