@import 'scss/variables';
@import 'scss/typography';
@import 'scss/buttons';
@import 'scss/filters';
@import 'scss/map';

.ab-header {
  height: $h--lg;
  display: flex;
  align-items: center;
  @include u-box-shadow-sm;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;

  &--inner {
    display: flex;
    justify-content: space-between;
  }
}

.ab {
  padding-top: $h--lg;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;

  &:hover,
  &:focus {
    outline: none!important;
  }
}

.ab-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.ab-form__steps {
  max-width: 600px;
  margin: 0 auto;
}

.ab-form {
  max-width: 600px;
  margin: 0 auto;

  &__label {
    font-weight: 500;
    margin-bottom: $h--xs;
    display: block;
    font-size: 0.85em;
  }

  &__field {

    &.field--validate {

      margin: 15px 0px;

      .wrapper {
        display: flex;
        width: 100%;

        button {
          margin-left: 15px;
        }
      }
    }

    &.field--units {
      padding: 15px 0px;
      border-bottom: 1px solid $ab--lightgrey;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .field-wrapper {
        display: flex;
        align-items: center;
      }

      .units {
        margin-left: 15px;
      }

      .ab-form__label {
        margin-right: 15px;
        margin-bottom: 0px;
        font-weight: 600;
      }

      input {
        width: 100px;
        margin: 0px;
      }
    }
  }

  &__field__output {
    background-color: $ab--grey;
    padding: 15px;

  }
}

input, textarea {
  background-color: $ab--lightgrey;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  width: 100%;
  margin-bottom: 30px;
  padding: 0px 15px;
  border-radius: 6px;
  font-size: 100%;
}

input {
  height: $h--md;
}

textarea {
  min-height: $h--xl;
}

.ab-add-map--container {
  height: 300px;

  .ab-add-map {
    height: 100%;
  }
}

ol.progtrckr {
  list-style: none;
  display: flex;
  margin: $h--md 0px;

  em {
    display: none;
  }

  li {
    flex-basis: 0;
    flex-grow: 1;
    color: $ab--darkgrey;
    border-bottom: 3px solid $ab--lightgrey;
    padding: 15px 15px;

    &.progtrckr-doing {
      border-bottom: 3px solid $ab--accent;
    }
  }
}

.ab {
  min-height: 100vh;
}

.ab-add-hospital {
  padding: 90px 0px;
}

.has--sidenav {
  padding-left: 280px;
}

.ab-sidenav {
  width: 280px;
  position: fixed;
  top: 90px;
  min-height: calc(100vh - 90px);
  left: 0;
}

.ab-hospitals__list {
  background-color: $ab--lightestgrey;
  min-height: calc(100vh - 90px);
  padding: 30px;
}

.ab-hospitals__list__item {
  height: $h--xl;
  background-color: white;
  width: 100%;
  display: flex;

  .ab-hospital__info {
    flex-basis: 0;
    flex-grow: 1;
  }

  .ab-hospital__equipment {
    flex-basis: 0;
    flex-grow: 2;
  }

  .ab-hospital__more {
    width: 120px;
    max-width: 120px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $ab--accent;
    font-weight: 600;

    svg {
      fill: $ab--accent;
    }
  }
}


.ab-hospital__info,
.ab-hospital__equipment {
  padding: $h--sm;
  border-right: 2px solid $ab--lightgrey;
}

.ab-equipment {
  display: flex;

  &__item {
    height: $h--sm;
    background-color: $ab--lightgrey;
    display: flex;
    border-radius: 6px;
    margin: 0px 3px;

    &__name {
      border-right: 1px solid white;
      font-weight: 600;
    }

    &__name,
    &__amount {
      display: block;
      margin: 0px;
      padding: 5px 15px;
      display: flex;
      align-items: center;
    }
  }
}

.ab-hospitals__list__item {

  .ab-hospital__name {
    margin-bottom: $h--xs;
  }

  .ab-hospital__location {
    .ab-hospital__address {
      color: $ab--grey;
      margin-bottom: $h--xs;
    }
  }

  .ab-link {
    display: flex;
    align-items: center;
  }
}

.ab-h6 {
  color: $ab--grey;
  font-weight: 500;
}

.ab-hospitals__list__labels {
  display: flex;
  align-items: center;
  padding: 15px 0px;

  .ab-list__label {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0px 15px;

    &.label--1 {
      min-width: 320px;
    }

    &.label--2 {
      flex-grow: 2;
    }

    &.label--120 {
      max-width: 120px;
      width: 120px;
    }
  }
}

.ab-tablist {

  padding: 30px 15px;
}

.react-tabs__tab-list {
  display: flex;
  justify-content: flex-end;
}

.react-tabs__tab {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: $ab--grey;

  &:hover {
    cursor: pointer;
  }

  svg {
    fill: $ab--grey;
  }

  &.react-tabs__tab--selected {
    color: $ab--accent;
    svg {
      fill: $ab--accent;
    }
  }
}

.ab-header {
  &--inner {
    width: 100%;
    padding: 0px 15px;
  }
}

.ab-header__nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  height: 100%;

  ul {
    height: 100%;
    display: flex;
    /*align-items: center;*/

    li {
      display: flex;
      align-items: center;
      padding: 0px 15px;
      flex-direction: column;
      justify-content: center;

      svg {

      }
    }
  }

  &__item {
    border-bottom: 5px solid transparent;
    svg {
      position: absolute;
      top: 20px;
    }
    small {
      height: 20px;
      margin-top: 25px;
    }
    &.item--truck {
      svg {
        top: 10px;
      }
    }

    &.is--current {
      border-bottom: 5px solid $ab--accent;
    }
  }
}

.ab-header__brand {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: $ab--accent;
  font-weight: 600;

  svg {
    stroke: $ab--accent;
    margin-right: 15px;
  }
}


