.ab-button {
  height: $h--md;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  background-color: $ab--grey;
  border-radius: 6px;
  border: none;

  &--small {

  }

  &--accent {
    height: 60px;
    background-color: $ab--accent;
    color: white;
    font-weight: 600;
  }
}

.ab-button--goto {
  color: white;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  height: auto;

  svg {
    fill: white;
  }
}

button {
  font-size: 100%;
  border: none;
  box-shadow: none;

}

.btn {
  height: $h--md;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  background-color: $ab--accent;
  @include u-box-shadow-sm;
  color: white;
  border-radius: 12px;
}

.footer-buttons {
  display: flex;
  margin: 30px 0px;
  justify-content: space-between;
}

.ab-link {
  color: $ab--accent;

  svg {
    fill: $ab--accent;
  }
}

.is--active {
  background-color: red;
}

a {
  text-decoration: none;
}

.ab-icon {

  &--xs {
    width: 16px;
    height: 16px;
  }
}

a, button {
  font-size: 100%;
}
