.ab-button {
  height: $h--md;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  background-color: $ab--grey;
  border-radius: 6px;
  border: none;

  &--small {

  }
}

button {
  font-size: 100%;
}

.btn {
  height: $h--md;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  background-color: $ab--accent;
  @include u-box-shadow-sm;
  color: white;
  border-radius: 12px;
}

.footer-buttons {
  display: flex;
  margin: 30px 0px;
  justify-content: space-between;
}
