
.ab-filters {
  .ab-filter__group {
    padding: 30px 15px;
    border-bottom: 1px solid $ab--lightgrey;

    &__title {
      font-weight: 600;
      margin-bottom: $h--sm;
      color: $ab--grey;
    }
  }

  .ab-filter__item {
    padding: 0px 15px 0px 30px;
    position: relative;
    border: none;
    background-color: transparent;
    display: block;
    text-align: left;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    transition: 0.1s all;
    color: $ab--grey;

    &:before {
      height: $h--xs;
      width: $h--xs;
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      /*border-radius: 50%;*/
      border: 1px solid $ab--grey;
      transition: 0.1s all;
    }

    &.is--active {
      color: $ab--accent;

      &:before {
        background-color: $ab--accent;
        border: 1px solid $ab--accent;
      }
    }
  }
}
